<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8aa2848a93.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="app">

        <header class="header">

            <div class="header-container">
                <div class="header-left">
                    <a class="logo" href="index.html">
                        <img src="img/logo.jpg" alt="logo">
                        <div>
                            BRAN<b>D</b>
                        </div>
                    </a>

                    <form class="search-bar" action="product.html" method="GET">
                        <button class="grey-button">
                            Browse
                            <i class="fas fa-sort-down"></i>
                        </button>
                        <input name="user-search"  type="text" placeholder="Search for Item...">
                        <button class="search-button" type="submit" >
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <div class="header-right">

                    <a class="cart"  @click="toggleCart">
                        <div v-if="goods.length" class="quant-cart">{{goods.reduce((sum, elem) => sum + elem.quantity, 0)}}</div>
                        <img src="img/shopping-card.svg" alt="cart"></a>
                    <cart :goods="goods" :show-cart="showCart"></cart>
                    <a class="myacc" href="#">My Account 
                        <i class="fas fa-sort-down"></i>
                    </a>
                </div>
            </div>

            <div class="menu">
                <ul class="menu-list">
                    <li class="sub-menu"><a class="menu-list-item" href="index.html">home</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Home</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Home</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">Home</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Home</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu"><a class="menu-list-item" href="product.html">man</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Man</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Man</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">Man</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Man</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu"><a class="menu-list-item" href="single-page.html">women</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Women</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Women</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">Women</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Women</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu"><a class="menu-list-item" href="#">kids</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Kids</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Kids</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">Kids</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Kids</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu"><a class="menu-list-item" href="#">accoseriese</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Accoseriese</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Accoseriese</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">Accoseriese</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Accoseriese</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu menu-list-last"><a class="menu-list-item" href="#">featured</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Featured</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Featured</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">Featured</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">Featured</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sub-menu menu-list-last"><a class="menu-list-item" href="#">hot deals</a>
                        <div class="mega-box">
                            <div class="mega-item-box">
                                <h3 class="mega-hading">hot deals</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Blazers</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Denim</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Leggings/Pants</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Skirts/Shorts</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">hot deals</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        <h3 class="mega-hading">hot deals</h3>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-item-box">
                                <h3 class="mega-hading">hot deals</h3>
                                <div class="mega-item">
                                    <ul>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Dresses</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Tops</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Sweaters/Knits</a></li>
                                        <li class="mega-menu-list"><a class="mega-link" href="single-page.html">Jacets/Coats</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="mega-sale">
                                    <a href="product.html">
                                        <img src="img/men-sale.png" alt="sale">
                                        <div class="super-sale">Super sale!</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <div class="container-arrivals">

            <div class="arrivals">New Arrivals</div>

            <div class="breadcrumbs">
                <a href="index.html">Home/</a>
                <a href="product.html">Men/</a>
                <span>New Arrivals</span>
            
            </div>

        </div>

        <div class="container-page-img">
            <button class="arrow-left"><img src="img/button-arrow-l.png"></button>
            <button class="arrow-right"><img src="img/button-arrow-r.png"></button>
            <img class="page-img" src="img/page-img.png" alt="women">
        </div>

        <div class="container-shape-selection">

            <div class="shape-selection" >
                
                <div class="shape-description">
                    <div class="shape-h3">WOMEN COLLECTION</div>
                    <div class="shape-line">
                        <div class="red-line"></div>
                        <div class="grey-line"></div>
                    </div>
                    <div class="shape-h1">Moschino Cheap And Chic</div>
                    <div class="shape-p">Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals.</div>
                    <div class="shape-material">
                        <div>
                            MATERIAL:<span> COTTON</span>
                        </div>
                        <div>
                            DESIGNER:<span> BINBURHAN</span>
                        </div>
                    </div>
                    <div class="shape-price">$561</div>
                </div>

                <form class="forma">

                    <div class="forma-bloc">

                        <div class="forma-input">
                                <div>
                                    CHOOSE COLOR
                            </div>
                            <input class="content-input" type="text" placeholder="Red">
                        </div>
                        <div class="forma-input">
                            <div>
                                CHOOSE SIZE
                            </div>
                            <input class="content-input" type="text" placeholder="XXL">
                        </div>
                        <div class="forma-input">
                            <div>
                                QUANTITY
                            </div>
                            <input class="content-input" type="text" placeholder="1">
                        </div>
                    </div>
                    
                    <button class="forma-button" type="submit"><i class="fas fa-shopping-cart"></i><span class="add-cart">Add to Cart</span></button>
                    
                </form>
            </div>
        </div>

        <section class="fetured-items">
            <div class="container-fetured">

                <p class="featured-p">YOU MAY LIKE ALSO</p>
                    
                <div class="box-products">

                    <div v-for="product in allProducts.filter( p => p.id_product >= 18 && p.id_product <= 21)" class="item">
                        <a href="single-page.html" class="products-link">
                            <div class="img-box">
                                <img class="prod-img" :src="'./img/' + product.img" alt="items">
                            </div>
                            <div class="text-box">
                                <p class="prod-desc">{{product.product_name}}</p>
                                <p class="prod-price">$ {{product.price}}</p>
                                <!-- <p class="prod-size">
                                    <span v-if="product.sizes.length">Размеры в наличии: <span v-for="size in product.sizes"><b>{{size}} </b></span></span>
                                    <span v-else><b>Нет в наличии</b></span>
                                </p> -->
                            </div>
                        </a>
    
                        <div @click="addToCart(product)" class="add">
                            <div class="add-box">
                                <img src="img/cart-white.svg" alt="cart">
                                <p  class="add-text">Add to Car</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="subscribe-container">
            
            <div class="position">
                
                <div class="left-subscribe">
                    
                    <img class="subscribe-icon" src="img/subscribe-icon.png" alt="icon">
                    <div>
                        <p class="quote">“Vestibulum quis porttitor dui! Quisque viverra nunc mi,<br>a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                        <div class="quote-name">Bin Burhan</div>
                        <div class="quote-pos">Dhaka, Bd</div>

                        <div>
                            <a href="#" class="slider"></a>
                            <a href="#" class="slider"></a>
                            <a href="#" class="slider"></a>
                        </div>
                    </div>

                </div>

                <div class="vertical-line"></div>
                    
                <div class="right-subscribe">

                    <span>Subscribe</span>
                    <p class="subscribe-for"> FOR OUR NEWLETTER AND PROMOTION</p>
                    
                    <form action="#" class="subscribe-form">
                        <input type="mail" placeholder="Enter your email"class="subscribe-input">
                        <button type="submit" class="subcribe-button" onclick="window.location.href='checkout.html'">Subscribe</button>
                    </form>
                </div>
                
            </div>
            
            <img class="subscribe-img" src="img/subscribe-img.jpg" alt="subscribe">
        </div>

        <div class="footer-container">

            <div class="footer">
            
                <div class="footer-info">
                    <a class="logo" href="index.html">
                        <img src="img/logo.jpg" alt="logo">
                        <div>
                            BRAN<b>D</b>
                        </div>
                    </a>
                    <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
                    <p>Efficiently plagiarize 24/365 action items and focused infomediaries.
                        Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
                </div>
                    
                <div class="footer-menu">

                    <div class="footer-menu-company1">
                        <div class="footer-header">COMPANY</div>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="single-page.html">Shop</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-menu-company2">
                        <div class="footer-header">INFORMATION</div>
                        <ul>
                            <li><a href="#">Tearms & Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">How to Buy</a></li>
                            <li><a href="#">How to Sell</a></li>
                            <li><a href="#">Promotion</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-menu-company3">
                        <div class="footer-header">SHOP CATEGORY</div>
                        <ul>
                            <li><a href="#">Men</a></li>
                            <li><a href="single-page.html">Women</a></li>
                            <li><a href="#">Child</a></li>
                            <li><a href="#">Apparel</a></li>
                            <li><a href="#">Brows All</a></li>
                        </ul>
                    </div>

                </div>    
            </div>
        </div>

        <div class="container-footer-bottom">
            <div class="footer-brand">© 2017 Brand All Rights Reserved.</div>

            <div class="social-icons">
                <a href="#" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-pinterest-p"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </div>

        </div>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="searchComponent.js"></script>
    <script src="cartComponent.js"></script>
    <script src="main.js"></script>   
</body>
</html>