@white-color: #fff;

@border-color-cdc: #cdcdcc;

@color-text-222: #222;

@width-100: 100%;

@width-content: 1140px;

* {
    margin: 0;
    padding: 0;
  }
button {
    cursor: pointer;
  }
.main-img {
    height: 665px;
    background-image: url(img/image-frame-84.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e8e8e8;
  }
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 230px;
    border-bottom: 1px solid @border-color-cdc;
  }
.header-left {
    display: flex;
  }
.grey-button {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    width: 87px;
    height: 38px;
    background-color: @border-color-cdc;
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    color: @color-text-222;
  }
  .grey-button img {
    margin-left: 8px;
    vertical-align: middle;
  }
  .search-bar {
    display: flex;
    margin-left: 37px;
    margin-top: 12px;
  }
  .search-button {
    width: 38px;
    height: 38px;
    background-color: @white-color;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
  }
  .search-bar input {
    width: 279px;
    height: 36px;
    background-color: @white-color;
    border: 1px solid #e6e6e6;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: @color-text-222;
    padding-left: 15px;
  }
  .search-bar input::placeholder {
    color: #a4a4a4;
  }
  .myacc {
    padding: 10px 13px 10px 19px;
    background-color: #f16d7f;
    text-decoration: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    color: @white-color;
  }
  .myacc img {
    margin-left: 8px;
    vertical-align: middle;
  }
  .header-right {
    display: flex;
    height: 38px;
    vertical-align: middle;
    margin-top: 12px;
  }
  .cart {
    margin: 5px 25px;
  }
  .menu {
    display: flex;
    width: @width-100;
    flex-direction: column;
    align-items: center;
  }
  .menu-list {
    display: flex;
    list-style-type: none;
    width: 680px;
    justify-content: space-between;
    margin: 13px 0 ;
  }
  .menu-list-item {
    text-decoration: none;
    padding: 10px 10px;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: @color-text-222;
  }
  .img-text {
    margin-top: 274px;
    margin-left: 242px;
    position: absolute;
    padding-left: 12px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Lato;
    color: @color-text-222;
    font-size: 40px;
  }
  .img-text::before {
    content: '';
    position: absolute;
    background-color: #f16d7f;
    width: 12px;
    height: 92%;
    top: 0;
    left: -12px;
  }
  .img-title {
    margin-top: -15px;
    font-size: 60px;
  }
  .pink {
    color: #f16d7f;
  }
  .big {
    font-size: 30px;
  }
  .logo {
    display: inline-flex;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: @color-text-222;
    text-decoration: none;
  }
  .logo img {
    margin-right: 12px;
  }
  .logo div {
    margin-top: 15px;
  }
  .logo b {
    color: #f16d7f;
    font-weight: 800;
  }
  .categories {
    display: flex;
    width: @width-100;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
  }
  .categories > div {
    display: flex;
    width: @width-content;
    height: 827px;
    justify-content: space-between;
  }
  .categories > div > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .categories-text {
    position: absolute;
    margin-top: 26px;
    width: max-content;
    height: 82px;
    background-color: @white-color;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 20px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: @color-text-222;
  }
  button:hover {
    background-color: #f16d7f;
    background-image: none;
    border: #741d1d;
  }
  .myacc:hover {
    background-color: #b42437c9;
    border: #741d1d;
  }
  .menu-list li a:hover {
    color: #f16d7f;
  }
  .container-fetured {
    width: @width-content;
    margin: 0 auto;
  }
  .products-link {
    display: block;
    text-decoration: none;
    width: 263px;
    height: 364px;
  }
  .box-products {
    margin-top: 60px;
  }
  .prod-desc {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: @color-text-222;
  }
  .prod-price {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
  .text-box {
    padding: 12px;
  }
  .prod-img {
    max-width: 261px;
    height: 280px;
  }
  .img-box {
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
  }
  .img-box:hover .add-box {
    display: flex;
  }
  .item:hover .img-box {
    filter: brightness(50%);
  }
  .add {
    display: flex;
    justify-content: center;
  }
  .add-box {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: max-content;
    border: 1px solid @white-color;
    padding: 5px  10px;
    align-items: center;
  }
  .add-box img {
    margin-right: 7px;
  }
  .item {
    width: 263px;
    height: 364px;
    position: relative;
    margin-bottom: 40px;
  }
  .add-text {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: @white-color;
  }
  .add-box:hover {
    background-color: #f16d7fb2;
  }
  .item:hover {
    background-color: @white-color;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .item:hover .add-box {
    display: flex;
  }
  .box-products {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .fetured-h3 {
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @color-text-222;
  }
  .fetured-p {
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
  }
  .browse-all {
    padding: 15px 43px 15px 24px;
    text-decoration: none;
    font-family: Lato;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @white-color;
  }
  .browse-all img {
    margin-left: 8px;
    vertical-align: middle;
  }
  .browse-button {
    display: flex;
    justify-content: center;
  }
  .browse-all:hover {
    background-color: #b42437c9;
    border: #741d1d;
  }
  .container-offers {
    display: flex;
    justify-content: center;
    margin-top: 115px;
  }
  .offers {
    display: flex;
    width: @width-content;
    text-decoration: none;
  }
  .offers-text {
    position: absolute;
    top: 140px;
    left: 40px;
    font-family: Lato;
    font-size: 53.7px;
    text-transform: uppercase;
    font-weight: 700;
    color:@white-color;
  }
  .offers-text p {
    font-size: 32.2px;
  }
  .offers-delivery {
    display: flex;
    align-items: flex-start;
  }
  .offers-details {
    padding: 45px 40px 65px 40px;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    height: 419px;
    justify-content: space-between;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    color: #fbfbfb;
  }
  .offers-icon {
    margin-right: 30px;
  }
  .offers-p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
  }
  .offers-delivery div {
    margin-top: 8px;
  }
  .offers-img-block {
    position: relative;
  }
  .subscribe-container {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .position {
    position: absolute;
    display: flex;
    width: @width-content;
  }
  .left-subscribe {
    width: 50%;
    margin-top: 110px;
    display: flex;
  }
  .right-subscribe {
    margin-top: -15px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-icon {
    width: 83px;
    height: 83px;
    margin-right: 28px;
  }
  .quote {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    color: #222224;
    width: 386px;
  }
  .quote-name {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-top: 10px;
  }
  .quote-pos {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
  }
  .right-subscribe span {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
  }
  .subscribe-for {
    font-size: 14px;
    line-height: 24px;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 30px;
  }
  .subscribe-input {
    width: 254px;
    height: 46px;
    background-color: #e1e1e1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    border: none;
    padding-left: 28px;
  }
  .subcribe-button {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    border: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color:@white-color;
  }
  .subcribe-button:hover {
    background-color: #9b3744;
  }
  .subscribe-input::placeholder {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
  }
  .subscribe-form {
    display: flex;
  }
  .vertical-line {
    width: 2px;
    background-color: @white-color;
    height: 438px;
  }
  .slider {
    display: inline-block;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-top: 35px;
    margin-right: 8px;
  }
  .slider:hover {
    background-color: #9b3744;
  }
  .active-slider {
    background-color: #f16d7f;
  }
  .footer {
    display: flex;
  }
  .footer-info {
    display: inline;
    width: 427px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    padding-top: 90px;
    margin-right: 65px;
  }
  .footer-info p {
    margin-top: 25px;
  }
  .footer-menu-company1 {
    display: flex;
    flex-direction: column;
  }
  .footer-menu-company1 ul li,
  .footer-menu-company2 ul li,
  .footer-menu-company3 ul li {
    list-style-type: none;
  }
  .footer-menu-company1 ul li a,
  .footer-menu-company2 ul li a,
  .footer-menu-company3 ul li a {
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    line-height: 43px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
  }
  .footer-menu-company2 {
    display: flex;
    flex-direction: column;
  }
  .footer-menu-company3 {
    display: flex;
    flex-direction: column;
  }
  .footer-menu {
    width: 615px;
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 95px;
  }
  .footer-header {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    color: #f16d7f;
    margin-bottom: 20px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
  }
  .footer-menu a:hover {
    color: #9b3744;
  }
  .container-footer-bottom {
    display: flex;
    height: 79px;
    background-color: #e6e6e6;
    justify-content: space-between;
  }
  .footer-brand {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
    margin-top: 33px ;
    margin-left: 228px;
    margin-bottom: 32px;
  }
  .social-icons {
    display: flex;
    margin-right: 231px;
    margin-top: 24px;
    margin-bottom: 23px;
  }
  .social-icon {
    text-decoration: none;
    display: flex;
    width: 32px;
    height: 32px;
    background-color: @white-color;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    color: #b2b2b2;
  }
  .social-icon:hover {
    background-color: #f16d7f;
    color: @white-color;
  }
  .mega-box {
    border-radius: 5px;
    background-color: @white-color;
    display: flex;
    position: absolute;
    padding: 20px;
    display: none;
    top: 32px;
    border: 1px solid #8e8e8e;
    z-index: 100;
  }
  .mega-hading {
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    width: 235px;
    padding: 8px;
    border-bottom: 1px solid #8e8e8e;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .mega-link {
    text-decoration: none;
    display: block;
    width: 235px;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
  .mega-link:hover {
    color: #9b3744;
  }
  .mega-menu-list {
    list-style-type: none;
  }
  .sub-menu:hover .mega-box {
    display: flex;
  }
  .sub-menu::before {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 26px;
    left: calc(44%);
    transform: rotate(45deg);
    background-color: @white-color;
    border-top: 1px solid #8e8e8e;
    border-left: 1px solid #8e8e8e;
    z-index: 101;
  }
  .sub-menu:hover::before {
    display: block;
  }
  .mega-item-box {
    margin-right: 45px;
  }
  .mega-item-box:last-of-type {
    margin-right: 0;
  }
  .menu-list-last:hover .mega-box {
    right: 10px;
    left: auto;
    top: 32px;
  }
  .sub-menu {
    position: relative;
  }
  .featured-p {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    display: flex;
    justify-content: center;
  }
  .prod-desc-page {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .container-arrivals {
    display: flex;
    height: 148px;
    background-color: #f8f3f4;
    justify-content: space-around;
    align-items: center;
  }
  .arrivals {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
  }
  .breadcrumbs {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .breadcrumbs a {
    text-decoration: none;
    color: #636363;
  }
  .breadcrumbs span {
    font-weight: 700;
    color: #f16d7f;
  }
  .container-page-img {
    display: flex;
    height: 777px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    justify-content: center;
    position: relative;
  }
  .page-img {
    height: 724px;
  }
  .arrow-left,
  .arrow-right {
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.14);
    align-items: center;
    justify-content: center;
    top: 365px;
    border: none;
  }
  .arrow-right {
    right: 0;
  }
  .arrow-left {
    left: 0;
  }
  .container-shape-selection {
    width: @width-100;
    display: flex;
    justify-content: center;
    margin-top: -85px;
    position: relative;
    z-index: 10;
    margin-bottom: 120px;
  }
  .shape-selection {
    display: flex;
    width: 1141px;
    height: 780px;
    background-color: @white-color;
    border: 1px solid #eaeaea;
    flex-direction: column;
    align-items: center;
  }
  .shape-description {
    flex-direction: column;
    align-items: center;
    width: 618px;
    display: flex;
    border-bottom: 1px solid #eaeaea;
  }
  .shape-h3 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
    margin-top: 70px;
  }
  .shape-line {
    width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 14px;
  }
  .red-line {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    position: absolute;
    z-index: 21;
  }
  .grey-line {
    height: 1px;
    background-color: #eaeaea;
    width: @width-100;
    position: absolute;
    top: 1.3px;
    z-index: 20;
  }
  .shape-h1 {
    font-family: Lato;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-top: 17px;
  }
  .shape-p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    margin-top: 65px;
    text-align: center;
  }
  .shape-material {
    width: 335px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .shape-material div span {
    color: #2f2f2f;
  }
  .shape-price {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70;
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .forma {
    display: flex;
    flex-direction: column;
  }
  .forma-bloc {
    display: flex;
    width: 537px;
    justify-content: space-between;
    margin-top: 63px;
  }
  .content-input {
    width: 130px;
    height: 35px;
    background-color: @white-color;
    border: 1px solid #eaeaea;
    margin-top: 16px;
    padding-left: 14px;
  }
  .content-input::placeholder {
    font-family: Lato;
    font-size: 13px;
    align-items: center;
    font-weight: 400;
    color: #bcbcbc;
  }
  .forma-input {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
  }
  .forma-button {
    width: 537px;
    height: 55px;
    background-color: @white-color;
    border: 1px solid #ef5b70;
    font-family: Lato;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
    color: #ef5b70;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    transition: all 0.3s ease-out;
  }
  .forma-button:hover {
    background-color: #eca4afbb;
  }
  .add-cart {
    margin-left: 10px;
  }
  .container-product-details {
    display: flex;
    justify-content: center;
  }
  .product-details {
    display: flex;
    flex-direction: column;
    width: @width-content;
  }
  .table-data {
    display: flex;
    height: 160px;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
  }
  .table-data-left {
    display: flex;
    text-decoration: none;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: @color-text-222;
  }
  .table-data-right {
    width: 625px;
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;
    display: flex;
    justify-content: space-between;
    margin-left: 228px;
    height: 30px;
    align-items: center;
  }
  .table-data-right input {
    width: 31px;
    height: 30px;
    background-color: @white-color;
    border: 1px solid #eaeaea;
    padding-left: 23px;
  }
  .table-data:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .table-data-left img {
    width: 100px;
    height: 115px;
  }
  .table-head {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: @color-text-222;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 22px;
    margin-top: 90px;
  }
  .head-right {
    justify-content: space-between;
    display: flex;
    width: 660px;
  }
  .table-data-right button {
    border: none;
    background-color: unset;
    color: #c0c0c0;
  }
  .table-data-right button:hover {
    color: #9b3744;
  }
  .product-description {
    margin-left: 20px;
    padding-top: 15px;
  }
  .data-color,
  .data-size {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #575757;
    text-transform: none;
  }
  .data-color {
    margin-top: 33px;
  }
  .product-description span {
    font-weight: 300;
    color: #6f6e6e;
  }
  